# This is a level 3 HeadingData Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

#### Ordered List
* First item
* Second item
* Third item 
* Fourth item

Some of the commonly used libraries used by Data Scientists include:
* First item
* Second item
* Third item 
* Fourth item

*Data Science Tools*
* Python
* R Language
* SQL

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers.

In [18]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60.

In [23]:
min=int(input("Enter time in minutes"))
h=min//60
m=min%60
print("Hours=",h)
print("Minutes=",m)

<class 'TypeError'>: int() argument must be a string, a bytes-like object or a real number, not 'PyodideFuture'

Enter time in minutes 200

List popular languages for Data Science
Objectives
*Python
*R
*SQL

## Author Sammy