Some of the popular languages that Data Scientists use
1. Python
2. R
3. SQL

Some of the popular libraries that Data Scientists use
1. Numpy
2. Scipy
3. Pandas

|Data Science Tools|
|---|
|SAS|
|Apache Hadoop|
|TensorFlow|

### Below are a few examples of evaluating arithmetic expression in Python

In [4]:
#this is a common arithmetic example to multiply and then add integers
(3*4)+5

17

In [6]:
#this will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

In [7]:
__Obejective__
*

<class 'NameError'>: name '__Obejective__' is not defined